name: Build and Test

on:
  pull_request:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: macos-latest
    timeout-minutes: 30
    env:
      CI: true

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Run test suite
        uses: mxcl/xcodebuild@v3
        with:
          xcode: '26.0'
          scheme: AsyncImageView-AsyncImageView
          platform: iOS
          action: test
          verbosity: xcbeautify
